:root {
  --primary-white-color: #ffffff;
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --header-logo-color: #000000;
  --footer-contacts-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196F3;
  --tuna-color: #2F303A;
  --whisper-color: #F5F4FA;
  --bg-hero: var(--tuna-color);
  --bg-footer: var(--tuna-color);
  --bg-team: var(--whisper-color);
  --bg-buttons: var(--whisper-color);
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: .03em;
  color: var(--primary-text-color);
  
  background-color: var(--primary-white-color);
}

/* Logo */

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: var(--accent-color);
}

.header-logo { color: var(--header-logo-color); }

.footer-logo { color: var(--primary-white-color); }

/* Site nav */

.site-nav .link,
.header-contacts .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: .02em;
  text-decoration: none;
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus { color: var(--accent-color); }

.site-nav .link.current { color: var(--accent-color); }

/* Contacts */

.header-contacts .link { color: var(--primary-text-color); }

.header-contacts .link:hover,
.header-contacts .link:focus { color: var(--accent-color); }

/* Footer */

.footer { background-color: var(--bg-footer); }

.footer-contacts .link {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
  color: var(--footer-contacts-color);
}

.link.geolink { color: var(--primary-white-color); }

.footer-contacts .link:hover,
.footer-contacts .link:focus { color: var(--accent-color); }

/* List */

.list { list-style: none; }

/* Buttons */

.buttons {
  font-size: 16px;
  text-align: center;
  color: var(--title-text-color);

  background-color: var(--bg-buttons);

  cursor: pointer;
}

.buttons.hero-button {
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: .06em;
}

.buttons.filter-buttons {
  font-weight: 500;
  line-height: 1.63;
}

.buttons:hover,
.buttons:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}

/* Studio */

/* Hero */

.hero { background-color: var(--bg-hero); }

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: .06em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/* Section */

.section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.section-team { background-color: var(--bg-team); }

/* Features */

.features-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

/* Team */

.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.position {
  font-size: 16px;
  line-height: 1.19;
}

/* Portfolio */

/* Projects list */

.project-name {
  font-size: 18px;
  line-height: 2;
  letter-spacing: .06em;
  color: var(--title-text-color);
}

.project-type {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}

